@import "../node_modules/bulma/bulma"

/* purgecss start ignore */
@import "../node_modules/bulma/sass/utilities/all"
@import "../node_modules/bulma/sass/components/navbar"
/* purgecss end ignore */

html
  scroll-behavior: smooth

%parallax
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  padding-top: 3.25rem

  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3)

#intro
  @extend %parallax
  background-image: url(../img/ponte.jpg)

#webdev
  @extend %parallax
  background-image: url(../img/coffee.jpg)
  border-top: 10px solid #81b214

#projects
  @extend %parallax
  background-image: url(../img/printer.jpg)
  border-top: 10px solid #ffcc29

#contact
  @extend %parallax
  background-image: url(../img/desk.jpg)
  border-top: 10px solid #f58634

.message
  text-shadow: none

  p
    @extend .is-size-6
    @extend .has-text-dark

.tech-list
  list-style: disc
  @extend .is-size-4
  @extend .pl-6

hr.content-divider
  margin-left: 25px
  max-width: 75px

.py-8
  padding: 8rem 0 !important