<section id="contact" class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-1">Contact</h1>
                    <p class="is-size-6">For inquiries, use:</p>
                    <h2 class="subtitle is-4"><a href="mailto:tcrosa27@gmail.com">tcrosa27@gmail.com</a></h2>
                </div>
                <div class="column is-size-4">
                    <h1 class="title is-1">Social</h1>
                    <p><a target="_blank" href="https://github.com/rosaqq">&#9654; GitHub</a></p>
                    <p><a target="_blank" href="https://www.linkedin.com/in/tgcr/">&#9654; LinkedIn</a></p>
                </div>
            </div>
            
        </div>
    </div>
</section>