<section id="projects" class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="py-8">
                        <h1 class="title is-1">The world is innovation.</h1>
                        <h2 class="subtitle">
                            Give <strong>your</strong> ideas a kick.
                        </h2>
                    </div>
                    <div class="block pb-5">
                        <hr>
                        <h1 class="title is-size-1-tablet is-size-2-mobile">Technologies</h1>
                        <ul class="tech-list">
                            <li>Python | Java | JS | C++</li>
                            <li>Arduino | Raspberry Pi</li>
                            <li>IoT Devices</li>
                        </ul>
                        <hr class="content-divider">
                        <ul class="tech-list">
                            <li>Networking | TCP/IP</li>
                            <li>Windows / Linux Systems</li>
                            <li>RPA: UiPath / Selenium</li>
                        </ul>
                        <hr class="content-divider">
                        <ul class="tech-list">
                            <li>3D Printing / Modeling</li>
                            <li>Prototyping</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h1 class="title">Past Projects</h1>
                    <article class="message">
                        <div class="message-header">
                            <a href="https://github.com/rosaqq/afmcc">AFM Gamepad</a>
                        </div>
                        <div class="message-body">
                            <p>Java GUI app with gamepad support to control piezo driven inertial positioners.
                                This project was originally created to move an Atomic Force Microscope needle with a
                                Playstation Controller.</p>
                        </div>
                    </article>
                    <article class="message">
                        <div class="message-header">
                            <a href="https://github.com/rosaqq/cvnozzle">CV Nozzle Simulator</a>
                        </div>
                        <div class="message-body">
                            <p>Python project that calculates flow properties of an input nozzle geometry and simulates
                                a rocket based on it.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>