<section id="webdev" class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="py-8">
                            <h1 class="title is-1">The world is online.</h1>
                            <h2 class="subtitle">
                                What are <strong>you</strong> waiting for?
                            </h2>
                    </div>
                    <div class="block">
                        <hr>
                        <h1 class="title is-size-1-tablet is-size-2-mobile">Technologies</h1>
                        <ul class="tech-list is-size-4 pl-6">
                            <li>Static Web Design</li>
                            <li>Wordpress</li>
                            <li>Django</li>
                            <li>NGINX</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h1 class="title">Past Projects</h1>
                    <article class="message">
                        <div class="message-header">
                            <a href="https://icam.org.pt/">ICAM</a>
                        </div>
                        <div class="message-body">
                            <p>Platform created during the first covid19 wave in Portugal to provide fast access to
                                curated and translated cutting edge research on the novel coronavirus.</p>
                        </div>
                    </article>
                    <article class="message">
                        <div class="message-header">
                            <a href="https://blackbird.sknv.net/">Blackbird Online</a>
                        </div>
                        <div class="message-body">
                            <p>Wordpress blog dedicated to the SR-71 aircraft.</p>
                        </div>
                    </article>
                    <article class="message">
                        <div class="message-header">
                            <a href="https://github.com/rosaqq/django-examples">Django Showcase</a>
                        </div>
                        <div class="message-body">
                            <p>A modular project built to showcase Django capabilities.</p>
                        </div>
                    </article>
                    <article class="message">
                        <div class="message-header">
                            <a href="https://drodos.sknv.net/">Drodos</a>
                        </div>
                        <div class="message-body">
                            <p>A dropbox-like service built as a recreational project with a friend.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>